

body {
  background-color: #FAF4FF;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#root {
 /* min-width: 375px;
  max-width: 1280px;*/
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #FAF4FF;
}

@media (min-width: 600px) {
  .container {
    width: 50%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #3AA6B9;
}

#search-input {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  border: transparent
  border-radius: 5px;
}

input[type="text"] {
  width: 50%;
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid #3AA6B9;
  border-radius: 5px;
  font-size: large;
}

.anime-search {
  background-color: #F3C623;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: #10375C;
  font-weight: bold;
  margin: 1em;
  
}

.result-list {
  display: flex; /* Changed from grid to flex for direct child alignment */
  justify-content: center; /* Center horizontally for flex children */
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 1em;
  margin: 1em auto; /* Center the .result-list itself and provide vertical margin */
  max-width: 1200px; /* Maximum width of the grid to prevent it from stretching too wide on large screens */
}

ul.blog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#spoiler-comment {
  background-color: black;
  color: black;
  cursor: pointer;
}
